# Python Programming - Day 1
_Author and Instructor: Dr. Junaid Qazi, PhD_

In this lecture, we are going to discuss the key concepts of Python. We need them throughout in this course. This section is carefully designed for all levels. If you don't have any programming experience in Python, it is still very easy to follow.

For those who want to explore more, following resources are very useful: <br>
“[python.org](https://www.python.org/about/gettingstarted/)”.<br>
"[learning-python’s documentation](http://learning-python.readthedocs.io/en/latest/index.html)".<br>
“[Learning Python, 5th Ed.](http://shop.oreilly.com/product/0636920028154.do)” by Mark Lutz is a great resource book for the beginners.<br>

We will go through the following concepts in this section:
* Python data types:
    * Numbers
    * Strings & print formatting
    * Lists
    * Dictionaries
    * Tuples
    * Sets
    * Booleans. 
    
    
&#9989; This notebook can be considered as a code reference.<br>

## Python data types:

### Numbers 
Python has two basic number types, <b>integer</b> and <b>float</b>. <br>

For example, 2 is an integer and 2.0 is a floating point number, which has a decimal attached to it. <br>We can perform arithmetic operations to either of these numbers types.

In [1]:
# addition
5 + 2

7

In [2]:
# subtraction
5 - 2

3

In [3]:
# multiplication
5 * 2

10

We can divide them with a forward slash `/` between them (note, two integers are giving floating point in results).<br> 
<font style="font-size:12px;">*If you are using Python 2, you need to add 2.0 in the expression (e.g. 5 / 2.0) to get the same results.*</font>

In [4]:
5 / 2

2.5

We can compute the power of some number `(exponent)` with two **Asterix** ** together.

Python follow the order of arithmetic operations, for example:<br>
**for 1 + 2 * 3 + 4**<br>
Python will **first multiply 2 & 3** then perform the other operations.

In [5]:
1 + 2 * 3 + 4

11

**A good practice is to use parentheses `"( )"`** to tell the Python, which operation needs to be performed and clarify the order. <br> 
The operations in the parentheses will be performed first.

In [6]:
(1 + 2) * (3 + 4)

21

# Variables

## Lesson Objectives
After this lesson, you will be able to...
* Create and re-assign numerical and string variables. 
* Use numerical operators.
* Print complex variable structures.

**What is a Variable?**<br>
* Turn to the person next to you, and together come up with as many definitions for the word `variable` as you can.
* Consider contexts such as mathematics, the sciences, weather, etc.

### Variables:
At many occasions, we pick a variable with some name and assign object or a data type to that variable. We can do this in Python using equal sign operator **`“=“`**. <br>
For example, if we assign a value of 5 to a variable `“x”`. Whenever we call `x`, this will return 5 in the output. <br>
* Are boxes that can hold all kinds of information for you. Make it easier to store and re-use values.
* Are the most basic piece of code.

### Declaring variables
To use a variable, we simply announce that we want to use it -- we `"declare"` it!

In [7]:
# I have eated 3 cupcakes.
cupcakes_ive_eaten = 3

In [8]:
print(cupcakes_ive_eaten)

3

### Naming Conventions: Mistakes and Syntax
#### Some common naming mistakes:<br>
* Not using meaningful names. delicious = 3 doesn’t mean anything - cupcakes_ive_eaten = 3 does!
* Case sensitivity (CUPCAKES_IVE_EATEN and cupcakes_ive_eaten are not the same!) 
* No spaces or punctuation (“cupcakes i’ve eaten” isn’t allowed) -- This is invalid syntax

***Use `snake_case: lowercase_letters_with_underscores` (it’s in the official Python style guide)***

### Reassigning Variables

In [9]:
#what do you think the output of the code is?
cupcakes_ive_eaten = 3 
print("First value: ", cupcakes_ive_eaten) 
cupcakes_ive_eaten = 4 
print("Second Value: ", cupcakes_ive_eaten)

First value:  3
Second Value:  4

### Mathematical Operators
Math works on numerical variables, too!<br>
The `+, -, * (multiply), and / (divide)` operators work just like they do with regular math.

In [10]:
# Addition
cupcakes_ive_eaten = 6 + 3
print(cupcakes_ive_eaten)

9

In [11]:
# Subtraction 
cupcakes_ive_eaten = 6-3 
print(cupcakes_ive_eaten)

3

In [12]:
# Multiplication
cupcakes_ive_eaten = 6 * 3 
print(cupcakes_ive_eaten)

18

In [13]:
# Exponent

# Square
making_exponents = 10 ** 2 
print("Square of 10: ",making_exponents)

# Cube
more_exponents = 10 ** 3 
print("Cube of 10: ",more_exponents)

Square of 10:  100
Cube of 10:  1000

In [14]:
# modulus
making_modulus = 10 % 3 
print("10%3: ",making_modulus)

making_modulus = 10 % 2 
print("10%2: ", making_modulus)

10%3:  1
10%2:  0

### Math On The Same Variable


You can reassign a variable using that very same variable - or other variables!

In [15]:
cupcakes_ive_eaten = 3
print("Given value: ", cupcakes_ive_eaten )

# adding 1 in the given value
cupcakes_ive_eaten = cupcakes_ive_eaten + 1
print("New value: ",cupcakes_ive_eaten)

Given value:  3
New value:  4

In [16]:
cupcakes_left_in_box = 6
print("Given value: ", cupcakes_left_in_box)

# subtracting 1
cupcakes_left_in_box = cupcakes_left_in_box - 1 
print("New value: ",cupcakes_left_in_box)

Given value:  6
New value:  5

In [17]:
cupcakes_left_in_box = cupcakes_left_in_box - cupcakes_ive_eaten 
print("No of remaining cupcakes: ", cupcakes_left_in_box)
# try re-running this cell again and again.
# what do you notice in the output?

No of remaining cupcakes:  1

### Reassignment Shorthand

In [18]:
my_num = 9
my_num = my_num + 7 
my_num # my_num is now 16

16

In [19]:
# The same operation can be performed in another way.

In [20]:
my_num = 9
my_num += 7 
my_num
# += is short for "theSameVariable = theSameVariable + 7"

16

In [21]:
# Try +=, -=, *=, /=

### Even or Odd?

* Is 6 even or odd?
* Is 7 even or odd?

How do you think a computer knows?
* Modulus operator shows the remainder of a division problem. ***Modding by 2 only gives a 0 or a 1.***

In [22]:
6%2 # for even number, mod 2 of the number is 0

0

In [23]:
7%2 # is this even?

1

****

## Quick Review
- A variable is a box that holds a value.
- A variable is a value that can be defined, declared, called and changed within your program.
    - my_number = 5
- Naming: Variable names are case sensitive.
- Variables can be reassigned as often as you like, but only the most recent declaration counts.
- Python can do math using operators, such as +, -, *, and / on variables.

****

## Strings

In [24]:
box_contents = "cupcakes" # This is a string

In [25]:
print(box_contents) # It's a normal variable -- we can print it.

cupcakes

In [26]:
best_snack = "Frosted Cupcakes" # This is a string.

In [27]:
cupcakes_ive_eaten = 5 # No quotes -- this is a number.

In [28]:
cupcakes_ive_eaten_as_string = "5" 
# Because this is in quotes, this is a string

In [29]:
type(cupcakes_ive_eaten_as_string)

str

### Declaring Strings

In [31]:
name = "Marty"
car = "Delorean"
speed = "88"
print(name, car, speed)

Marty Delorean 88

In [32]:
new_speed = speed + 4 # you will get an error, why?

TypeError: can only concatenate str (not "int") to str

## String Concatenation

In [33]:
"Doc" + "Brown" # result will be "DocBrown"

'DocBrown'

In [34]:
"5" + "5" # should this be 10?

'55'

In [35]:
string_numbers = "88" + "51"
# what will be the string_numbers?

In [36]:
# we can use variables 
first_name = "Doc"
last_name = "Brown"

full_name = first_name+ ' ' + last_name # notice the spae ' '
print(full_name)

Doc Brown

In [37]:
name = "Marty" 
car = "Delorean" 
speed = "88"

In [38]:
sentence = name + " is driving his " + car + " " + speed 
print(sentence)
# sentence

Marty is driving his Delorean 88

In [39]:
# using variables in print()
print(name, "is driving his", car, speed)

Marty is driving his Delorean 88

In [40]:
# Do you think this will run? If yes, what does it print?
my_num
print(my_num)

16

In [41]:
# How about this? Does it run? If so, what does it print?
my_num = 5 
# print()

In [42]:
# How about this? Does it run? If so, what does it print?
my_num = 5
my_string = "Hello" 
# print(my_num + my_string) # error?

## String split

In [43]:
# One last question. What does this do?
my_num1 = "10"
my_num2 = "20" 
# print(my_num1 + my_num2)

In [44]:
my_name_string = "My name is Junaid"

In [45]:
my_name = my_name_string.split(' ')# <shift+tab>
print(my_name)
print(type(my_name))

['My', 'name', 'is', 'Junaid']
<class 'list'>

In [46]:
email_ = "name@gmail.com"

# we want to grab the name only
email_.split('@')[0] # easy, right?

'name'

In [106]:
# upper case
my_name_string.upper()

'MY NAME IS JUNAID'

In [108]:
# lower case
my_name_string.lower()

'my name is junaid'

In [114]:
# capitalize -- notice two operations in one line!
my_name_string.upper().capitalize()

'My name is junaid'

**********

# Python Lists:

In [47]:
# Declaring lists

# list of strings
colors = ["red", "yellow", "green"]
my_class = ["Brandi", "Zoe", "Steve", "Aleksander", "Dasha"]

# List of numbers
my_nums = [4, 7, 9, 1, 4]

# List of different datatypes
mixed = ["red", 5, [1,2,3], 4.5]

In [48]:
colors

['red', 'yellow', 'green']

In [49]:
my_class

['Brandi', 'Zoe', 'Steve', 'Aleksander', 'Dasha']

In [50]:
my_nums

[4, 7, 9, 1, 4]

In [51]:
mixed

['red', 5, [1, 2, 3], 4.5]

### List index!

In [52]:
print(my_class[0])
print(my_class[4])

Brandi
Dasha

In [53]:
#print(my_class[10]) # what do you expect?

In [54]:
# how many items are in the list or how long it is?
num_students = len(my_class)
print("There are", num_students, "students in the class")

There are 5 students in the class

In [55]:
# try this "list?" or <shift+tab> after typing list

### List Operations
#### Finding length of the list, how many items are there!
* `.len()`
    * A built in list operation.
    * How long is the list?

In [56]:
# length_variable = len(your_list)
my_class = ["Brandi", "Zoe", "Steve", "Aleksander", "Dasha"] 
num_students = len(my_class)

print("There are", num_students, "students in the class")

There are 5 students in the class

#### Adding Elements: Append
* `.append()`
    * A built in list operation.
    * Adds to the end of the list. 
    * Takes any element (type).

In [57]:
# your_list.append(item)
my_class = ["Brandi", "Zoe", "Steve", "Aleksander", "Dasha"] 
print("list before append:\n", my_class) # notice '\n' -- new line
my_class.append("Sonyl")
print("list after append:\n",my_class)

list before append:
 ['Brandi', 'Zoe', 'Steve', 'Aleksander', 'Dasha']
list after append:
 ['Brandi', 'Zoe', 'Steve', 'Aleksander', 'Dasha', 'Sonyl']

#### Adding Elements: Insert
* `.insert()`
    * A built in list operation.
    * Adds to any point in the list 
    * Takes any element and an index.

In [58]:
# your_list.insert(index, item)
my_class = ["Brandi", "Zoe", "Steve", "Aleksander", "Dasha", "Sonyl"]
print("list before insert opearation:\n", my_class)

my_class.insert(1, "Sanju")
print("list after insert operation:\n",my_class)
# notice the difference b/w append and insert!

list before insert opearation:
 ['Brandi', 'Zoe', 'Steve', 'Aleksander', 'Dasha', 'Sonyl']
list after insert operation:
 ['Brandi', 'Sanju', 'Zoe', 'Steve', 'Aleksander', 'Dasha', 'Sonyl']

#### Removing elements - Pop
* `pop()` -- *default `index=-1`, the last item*
    * A built in list operation.
    * Removes an item from the end of the list.

In [59]:
# your_list.pop()
my_class = ["Brandi", "Zoe", "Steve", "Aleksander", "Dasha", "Sonyl"] 
print('original list:\n ', my_class)

# last student in the list left the class -- pop!
# Let's get the name in a variable!
student_that_left = my_class.pop()

# Who left
print("The student", student_that_left, "has left the class.")

# new list after the one who left the class
print("New list -- class:\n",my_class)
# => ["Brandi", "Zoe", "Steve", "Aleksander", "Dasha"]

original list:
  ['Brandi', 'Zoe', 'Steve', 'Aleksander', 'Dasha', 'Sonyl']
The student Sonyl has left the class.
New list -- class:
 ['Brandi', 'Zoe', 'Steve', 'Aleksander', 'Dasha']

### Removing elements - Pop(index)
* `.pop(index)`
    * A built in list operation.
    * Removes an item from the list. 
    * Can take an index.

In [60]:
# your_list.pop(index)
my_class = ["Brandi", "Zoe", "Steve", "Aleksander", "Dasha", "Sonyl"] 
print("original list: \n", my_class)
print() # just adding a line

# suppose Steve left the class, its inex is "2"
student_that_left = my_class.pop(2) # Remember to count from 0! 
print("The student name '",student_that_left,"' has left the class.")
print()

# What are the remaining class members?
print("Now the list of the students is:\n ", my_class)

original list:
 ['Brandi', 'Zoe', 'Steve', 'Aleksander', 'Dasha', 'Sonyl']

The student name ' Steve ' has left the class.

Now the list of the students is:
  ['Brandi', 'Zoe', 'Aleksander', 'Dasha', 'Sonyl']

# Time for some practice!
* 1. DECLARE A LIST WITH THE NAMES OF YOUR CLASSMATES
* 2. PRINT OUT THE LENGTH OF THAT LIST
* 3. PRINT THE 3RD NAME ON THE LIST
* 4. DELETE THE FIRST NAME ON THE LIST
* 5. RE-ADD THE NAME YOU DELETED TO THE END OF THE LIST

#### Good to know!

In [61]:
# This won’t work as expected - don’t do this!
colors = ["red", "yellow", "green"] 
print(colors.append("blue"))
# => None
#print(colors)

None

In [62]:
colors = ["red", "yellow", "green"] 
colors.append("blue")
print(colors)
# => ["red", "yellow", "green", "blue"]

['red', 'yellow', 'green', 'blue']

### Quick Review: Basic List Operations

In [63]:
# List Creation
my_list = ["red", 7, "yellow", 1]
print("original list: ", my_list)

# List Length
list_length = len(my_list) # 4
print("No of items in the list: ",list_length)

# List Index 
print("The first item is:", my_list[0]) # red

# List Append
my_list.append("Yi") # ["red", 7, "yellow", 1, "Yi"]
print("list after append opeartion: ", my_list)

# List Insert at Index
my_list.insert(1, "Sanju") # ["red", "Sanju", 7, "yellow", 1, "Yi"]
print('list after insert:', my_list )

# List Delete
my_list.pop() # "Yi"; ["red", "Sanju", 7, "yellow", 1]
print("list after pop(): ", my_list)

# List Delete at Index
my_list.pop(2) # 7; ["red", "Sanju", "yellow", 1]
print("list after pop(2) now: ", my_list)

original list:  ['red', 7, 'yellow', 1]
No of items in the list:  4
The first item is: red
list after append opeartion:  ['red', 7, 'yellow', 1, 'Yi']
list after insert: ['red', 'Sanju', 7, 'yellow', 1, 'Yi']
list after pop():  ['red', 'Sanju', 7, 'yellow', 1]
list after pop(2) now:  ['red', 'Sanju', 'yellow', 1]

## Moving forward, let's talk about some important numerical operations on the lists!
**Some actions that we usually perform on lists with numbers.**

* `.sum()`
    * A built in list operation. 
    * Adds the list together.
    * Only works on lists with numbers!

In [64]:
# let's declare a list firt:
team_batting_avgs = [.328, .299, .208, .301, .275, .226, .253, .232, .287]

In [65]:
# sum(your_numeric_list)
sum_avgs = sum(team_batting_avgs)
print("The total of all the batting averages is", sum_avgs)
# let's introduce round() here!
print("The total of all the batting averages is", round(sum_avgs, 3))

The total of all the batting averages is 2.4090000000000003
The total of all the batting averages is 2.409

* `max() min()`
    * Built in list operations.
    * Finds highest, or lowest, in the list.

In [66]:
# max(your_numeric_list) 
print("The highest batting average is", max(team_batting_avgs))

# min(your_numeric_list)
print("The lowest batting average is", min(team_batting_avgs))

The highest batting average is 0.328
The lowest batting average is 0.208

## You Do: Lists
On your local computer:
1. Save a list with the numbers 2, 4, 6, and 8 into a variable called numbers. 
2. Print the max of numbers.
3. Pop the last element in numbers off; re-insert it at index 2.
4. Pop the second number in numbers off.
5. Append 3 to numbers.
6. Print out the average number (divide the sum of numbers by the length). 
7. Print numbers.

Additional Resources on lists:

* https://www.youtube.com/watch?v=zEyEC34MY1A
* https://developers.google.com/edu/python/lists
* https://www.tutorialspoint.com/python/python_lists.htm

******

# Sets and Tuples

#### Learning Objectives
After this lesson, you will be able to:
* Perform common actions with sets. 
* Perform common actions with tuples.
* Know when to use different data structures.

**Let's start with creating lists!**

In [67]:
unique_colors = ["red", "yellow", "red", "green", "red", "yellow"] 
subscribed_emails = ["mary@gmail.com", "opal@gmail.com", "mary@gmail.com",
"sayed@gmail.com"]

<details><summary><b>What could be the problem in the above lists?</b></summary>
The very first thing that we can notice is duplication:<br>
-- Colors are repeating in a list of unique colors!<br>
-- We have same emails multiple times in the list of subscribers.<br>
    <b>Is this correct?</b>
</details>

**This is where we need to introduce the sets!**<br>
Sets contains only unique elements. It's simple concept from your school maths!

In [68]:
# Our lists are:
print(unique_colors)
print(subscribed_emails)

['red', 'yellow', 'red', 'green', 'red', 'yellow']
['mary@gmail.com', 'opal@gmail.com', 'mary@gmail.com', 'sayed@gmail.com']

#### Declaring/making sets:

In [69]:
# Sets: no duplicates!
unique_colors_set = {"green", "yellow", "red"}
subscribed_emails_set = {"mary@gmail.com", "opal@gmail.com", "sayed@gmail.com"}

**Notice the `{}` versus the `[]`.**

In [70]:
print(unique_colors_set)
print(subscribed_emails_set)

{'red', 'green', 'yellow'}
{'sayed@gmail.com', 'opal@gmail.com', 'mary@gmail.com'}

## We can make sets from lists to remove the duplicates automatically, `it's super easy!` 
* `my_set = set(a_list_to_convert)`

In [71]:
print(set(unique_colors))
print(set(subscribed_emails))

{'yellow', 'green', 'red'}
{'sayed@gmail.com', 'opal@gmail.com', 'mary@gmail.com'}

In [72]:
# you can pass them to the new variables for later use
uni_col = set(unique_colors)
sub_email = set(subscribed_emails)
print(uni_col)
print(sub_email)

{'yellow', 'green', 'red'}
{'sayed@gmail.com', 'opal@gmail.com', 'mary@gmail.com'}

## Important Note: `Lists vs Sets`
Lists are always in the same order:
* `my_list = ["green", "yellow", "red"]` is always going to be `["green", "yellow", "red"]`
* `my_list[0]` is always "green"; `my_list[1]` is always `"yellow"`; `my_list[2]` is always `"red"`.


Sets are not like this! Like dictionaries, they are not ordered.
* `my_set = {"green", "yellow", "red"}` could later be `{"red", "yellow", "green"}!`
* `"green"`, `"red"`, or `"yellow"` could be at any index - we don’t know!
* **We cannot do: `print(my_set[0])` - it could be anything! Python won’t let us.**

In [73]:
len(uni_col)

3

In [74]:
uni_col[0] # error

TypeError: 'set' object is not subscriptable

### To Do: Creating a Set from a List

* Make a list `clothing_list` containing the main color of your classmates clothing. 
* Using `clothing_list`, make a set named `clothing_set`.
* Use a for loop to print out both clothing_list and clothing_set. (don't worry, we will do this later) 

**Try to print an index!**

### Let's talk about some operations on sets in comparisons with lists.
#### Adding to a Set
* `.add()`

In [75]:
# How do we add more to a set?

# suppose your clothing list is 
clothing_list = ['black', 'blue', 'black', 'white', 'white']
# and the set is
clothing_set = set(clothing_list)

# In a list: recall lists!
clothing_list.append("green")
print(clothing_list)

# In a set 
clothing_set.add("green")
print(clothing_set)

['black', 'blue', 'black', 'white', 'white', 'green']
{'black', 'blue', 'white', 'green'}

In [76]:
# let's add green again in the list and the set
# In a list: recall lists!
clothing_list.append("green")
print(clothing_list)

# In a set 
clothing_set.add("green")
print(clothing_set)

['black', 'blue', 'black', 'white', 'white', 'green', 'green']
{'black', 'blue', 'white', 'green'}

#### What do you see in the output above? What happens if you add a duplicate?

***`add vs append` - this is because we can’t guarantee it’s going at the end!***

### Removing from a List and a Set
 * `.remove()`

In [77]:
#clothing_set.pop() # try this multiple time

*Remember, lists are always the same order and sets are not!*<br>
So thus, we need to be careful about removal:

In [78]:
# In a list:
print(clothing_list.pop()) # Removes and returns the last item in the list. 
print(clothing_list.pop(0)) # Removes and returns a specific item at given index

green
black

In [79]:
# In a set
clothing_set.pop() # No! This is unreliable! The order is arbitrary.

'black'

In [80]:
# set is after pop
clothing_set

{'blue', 'green', 'white'}

In [81]:
clothing_set.pop(0) # No! Python throws an error! You can't index sets.

TypeError: pop() takes no arguments (1 given)

In [82]:
# Do this! Call the element directly!
clothing_set.remove('black')

KeyError: 'black'

In [83]:
# the set is now
clothing_set

{'blue', 'green', 'white'}

### Set Intersection

* One thing that sets are really good at is **relational algebra**. This is a **fancy word for an SQL join, or comparing** elements between two sets.
* Sets are really good at this because they use the same hashing trick under the hood that dictionaries use and makes them so fast.

Let’s start by making two sets:

In [84]:
set1 = {1, 2, 3, 4, 5} 
set2 = {4, 5, 6, 7, 8}

Now let’s use the .intersection() set method to find out what elements these two sets have in common:

In [85]:
set1.intersection(set2)

{4, 5}

* This makes sense, the two sets share the elements 4 and 5.

*Note that this is **`commutative`**, meaning we could also write **`set2.intersection(set1)`** and receive the
same result.*

### Set Differences

Instead of finding elements in common between two sets, we can also find their differences. <br>
To do this, we use `.difference()`.<br>
*Note that this method is **`not commutative`**, meaning **`order matters`**.*

In [86]:
set1.difference(set2) # in set1 but not in set2

{1, 2, 3}

In [87]:
set2.difference(set1) # in set2 but not in set1

{6, 7, 8}

*****

## Quick Review: Sets vs. Lists
### Lists:
* The original, normal object.
* Created with `[]`.
* `append(), insert(index), pop(), pop(index)`.
* Duplicates and mutable.

### Sets:
* Without duplicates.
* Created with `{}` or with `set(my_list)`. 
* `add() and remove(element)`.

*****

## Discussion: Immutability Thoughts
* A set contains unique items where as the lits can have duplicates. We can add/remove items in both sets and lists.
* What if, instead, we want to have a container that we don't want to change?

In [88]:
rainbow_colors = ["red", "orange", "yellow", "green", 
                  "blue", "indigo", "violet"]
print(type(rainbow_colors))
print(rainbow_colors)

<class 'list'>
['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [89]:
print(type(set(rainbow_colors))) # same output as list
print(set(rainbow_colors)) # same output as list

<class 'set'>
{'red', 'green', 'orange', 'indigo', 'yellow', 'violet', 'blue'}

***We want `rainbow_colors` to be immutable - cannot be changed. How we do that in Python?***

## This is where `tuple` comes in!
* Tuples are, like lists, a collection of comma separated values that could be of different datatypes.
* Contrary to lists, Python tuples are immutable which means that once created, the tuple contents could not be changed.
* Allows duplicates, but immutable.

Syntax is super easy to create, just wrap the items in `()`!

In [90]:
rainbow_colors = ("red", "orange", "yellow", "green", 
                  "blue", "indigo", "violet")
print(type(rainbow_colors))
print(rainbow_colors)

<class 'tuple'>
('red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet')

In [91]:
# accessing element in tuple
rainbow_colors[1]

'orange'

In [92]:
rainbow_colors[1:3] # from 1 to 3 (3rd not included)

('orange', 'yellow')

In [93]:
len(rainbow_colors)

7

**When should you use a tuple?**<br>
* When you need data protection through immutability. 
* When you never want to change the list.

*****

## Quick Review: `Sets, Tuples, Lists`
#### List:
* The original, normal object: `["red", "red", "yellow", "green"]`.
* Has duplicates; 
* mutable: 
* `append(), insert(index), pop(), pop(index)`

#### Set:
* collection datatype without duplicates: `{"red", "yellow", "green"}`. 
* Mutable: 
* `add() and remove(element)`

#### Tuple:
* Has duplicates, but immutable: You can’t change it!
* ("red", "red", "yellow", "green") will always be ("red", "red", "yellow", "green").

****

## To Do: Practice

* Create a list `([])`, set `({})`, and tuple `(())` of some of your favorite foods.
* Create a second set from the list.
* Next, in every collection datatype:
    * Add "pizza" anywhere; append "eggs" to the end.
    * Remove "pizza".
    * Re-assign the element at index 1 to be "popcorn". 
    * Remove the element at index 2 and re-insert it at index 0. 
    * Print the element at index 0.

*(We will do this after loops!) -- Print your final collection datatype "list/set/tuple" using a loop, then print their types. Don’t throw an error!*

# Dictionaries
### Learning Objectives
After this lesson, you will be able to:
* Perform common dictionary actions. 
* Build more complex dictionaries.

### Introducing Dictionaries
* Think about dictionaries — they’re filled with words and definitions that are paired together. 
* Programming has a dictionary object just like this!
* Dictionaries hold keys (words) and values (the definitions).
* In a real dictionary, you can look up a word and find the definition. ***In a Python dictionary, you can look up a key and find the value.***

#### Declaring a Dictionary
*Dictionaries in programming are made of `key-value pairs`.*

In [94]:
# Here's the syntax:
#name_of_dictionary = {"Key1": "Value", "Key2": "Value", "Key3": "Value"} 
#print(name_of_dictionary[key_to_look_up])

In [95]:
my_dictionary = {"Puppy": "Furry, energetic animal", 
                 "Pineapple": "Acidic tropical fruit",
                "Tea": "Herb-infused drink"} # notice ":"
print(my_dictionary) # Prints the whole dictionary

{'Puppy': 'Furry, energetic animal', 'Pineapple': 'Acidic tropical fruit', 'Tea': 'Herb-infused drink'}

In [96]:
print(my_dictionary["Puppy"]) # print the value for the passed key

Furry, energetic animal

In [97]:
# return all keys
my_dictionary.keys()

dict_keys(['Puppy', 'Pineapple', 'Tea'])

In [98]:
# return all values
my_dictionary.values()

dict_values(['Furry, energetic animal', 'Acidic tropical fruit', 'Herb-infused drink'])

In [99]:
# return all items [(key, value), (key, value).....]
my_dictionary.items()

dict_items([('Puppy', 'Furry, energetic animal'), ('Pineapple', 'Acidic tropical fruit'), ('Tea', 'Herb-infused drink')])

### Booleans
Booleans are simply **`True`** and **`False`** with capital **`T`** and Capital **`F`** -- just a customized version of **1** and **0**

In [100]:
True

True

In [101]:
False

False

In [102]:
my_list = [1,2,3]

In [103]:
# check is the item is in the list
1 in my_list

True

In [104]:
5 in my_list

False

#### Additional Readings
* [Python Count Occurrences of Letters, Words and Numbers in Strings and Lists-Video](https://www.youtube.com/watch?v=szIFFw_Xl_M)
* [Storing Multiple Values in Lists](https://swcarpentry.github.io/python-novice-inflammation/03-lists/)
* [Sets and Frozen Sets](https://www.python-course.eu/sets_frozensets.php)
* [Sets](https://www.learnpython.org/en/Sets)
* [Python Tuples](https://www.programiz.com/python-programming/tuple)
* [Tuples](http://openbookproject.net/thinkcs/python/english3e/tuples.html)
* [Strings, Lists, Tuples, and Dictionaries Video](https://www.youtube.com/watch?v=19EfbO5D_8s)
* [Python Data Structures: Lists, Tuples, Sets, and Dictionaries Video](https://www.youtube.com/watch?v=R-HLU9Fl5ug)