<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Intro to Data Representation and Data Cleaning
_Dr. Junaid Qazi, PhD_

## Learning Objectives


### Core
- Know about common data cleaning strategies
- Know how to assess data quality
- Inspect data types
- Fill missing values with `fillna`
- Count categorical values with `.value_counts`

### Target
- Know the difference between `.map`, `.apply`, `.applymap`  
- Clean up a column using `.map`, `.apply`, `.applymap`  

### Stretch
- Write your own function and apply it to a series/dataframe with `.map`, `.apply`, `.applymap`

<h1>Lesson Guide<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Learning-Objectives" data-toc-modified-id="Learning-Objectives-1">Learning Objectives</a></span><ul class="toc-item"><li><span><a href="#Core" data-toc-modified-id="Core-1.1">Core</a></span></li><li><span><a href="#Target" data-toc-modified-id="Target-1.2">Target</a></span></li><li><span><a href="#Stretch" data-toc-modified-id="Stretch-1.3">Stretch</a></span></li></ul></li><li><span><a href="#Common-Data-Cleaning-Strategies" data-toc-modified-id="Common-Data-Cleaning-Strategies-2">Common Data Cleaning Strategies</a></span></li><li><span><a href="#Measures-of-Data-Quality" data-toc-modified-id="Measures-of-Data-Quality-3">Measures of Data Quality</a></span></li><li><span><a href="#pandas-Tools-for-Data-Cleaning" data-toc-modified-id="pandas-Tools-for-Data-Cleaning-4"><code>pandas</code> Tools for Data Cleaning</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#The-.map()-function" data-toc-modified-id="The-.map()-function-4.0.1">The <code>.map()</code> function</a></span></li><li><span><a href="#The-.apply()-function" data-toc-modified-id="The-.apply()-function-4.0.2">The <code>.apply()</code> function</a></span></li><li><span><a href="#The-.applymap()-function" data-toc-modified-id="The-.applymap()-function-4.0.3">The <code>.applymap()</code> function</a></span></li><li><span><a href="#The-.fillna()-function" data-toc-modified-id="The-.fillna()-function-4.0.4">The <code>.fillna()</code> function</a></span></li><li><span><a href="#The-.value_counts()-function" data-toc-modified-id="The-.value_counts()-function-4.0.5">The <code>.value_counts()</code> function</a></span></li></ul></li></ul></li><li><span><a href="#Inspecting-Data-Types" data-toc-modified-id="Inspecting-Data-Types-5">Inspecting Data Types</a></span><ul class="toc-item"><li><span><a href="#1.-Create-a-small-DataFrame-with-different-data-types" data-toc-modified-id="1.-Create-a-small-DataFrame-with-different-data-types-5.1">1. Create a small DataFrame with different data types</a></span></li><li><span><a href="#2.-Examine-the-data-types-of-the-columns" data-toc-modified-id="2.-Examine-the-data-types-of-the-columns-5.2">2. Examine the data types of the columns</a></span></li><li><span><a href="#3.-Use-the-.get_dtype_counts()-function-to-determine-how-many-columns-there-are-of-each-type" data-toc-modified-id="3.-Use-the-.get_dtype_counts()-function-to-determine-how-many-columns-there-are-of-each-type-5.3">3. Use the <code>.get_dtype_counts()</code> function to determine how many columns there are of each type</a></span></li><li><span><a href="#4.-Create-a-Series-object-with-integers-1-5-and-float-6.0." data-toc-modified-id="4.-Create-a-Series-object-with-integers-1-5-and-float-6.0.-5.4">4. Create a Series object with integers 1-5 and float 6.0.</a></span></li><li><span><a href="#5.-Create-a-Series-with-data-[1,-2,-3,-6.,-'foo'].-What-data-type-is-the-Series?" data-toc-modified-id="5.-Create-a-Series-with-data-[1,-2,-3,-6.,-'foo'].-What-data-type-is-the-Series?-5.5">5. Create a Series with data <code>[1, 2, 3, 6., 'foo']</code>. What data type is the Series?</a></span></li><li><span><a href="#Without-running-this-code-with-a-Python-interpreter,-what-would-you-expect-to-be-the-common-dtype?" data-toc-modified-id="Without-running-this-code-with-a-Python-interpreter,-what-would-you-expect-to-be-the-common-dtype?-5.6"><em>Without</em> running this code with a Python interpreter, what would you expect to be the common <code>dtype</code>?</a></span></li></ul></li><li><span><a href="#Applying-Functions-to-DataFrames-and-Series" data-toc-modified-id="Applying-Functions-to-DataFrames-and-Series-6">Applying Functions to DataFrames and Series</a></span><ul class="toc-item"><li><span><a href="#6.-Create-another-small-DataFrame" data-toc-modified-id="6.-Create-another-small-DataFrame-6.1">6. Create another small DataFrame</a></span></li><li><span><a href="#7.-Use-the-.apply()/.applymap()-function-to-find-the-square-root-of-all-cells" data-toc-modified-id="7.-Use-the-.apply()/.applymap()-function-to-find-the-square-root-of-all-cells-6.2">7. Use the <code>.apply()</code>/<code>.applymap()</code> function to find the square root of all cells</a></span></li><li><span><a href="#8.-Use-.apply()-to-find-the-mean-of-the-columns" data-toc-modified-id="8.-Use-.apply()-to-find-the-mean-of-the-columns-6.3">8. Use <code>.apply()</code> to find the mean of the columns</a></span></li><li><span><a href="#9.-Use-.apply()-to-find-the-mean-of-the-rows" data-toc-modified-id="9.-Use-.apply()-to-find-the-mean-of-the-rows-6.4">9. Use <code>.apply()</code> to find the mean of the rows</a></span></li><li><span><a href="#10.-Use-.apply()-to-add-two-columns" data-toc-modified-id="10.-Use-.apply()-to-add-two-columns-6.5">10. Use <code>.apply()</code> to add two columns</a></span></li><li><span><a href="#11.-Use-.applymap()-to-round-the-value-in-each-cell" data-toc-modified-id="11.-Use-.applymap()-to-round-the-value-in-each-cell-6.6">11. Use <code>.applymap()</code> to round the value in each cell</a></span></li><li><span><a href="#12.-Use-.applymap()-to-apply-a-self-defined-function-to-each-cell" data-toc-modified-id="12.-Use-.applymap()-to-apply-a-self-defined-function-to-each-cell-6.7">12. Use <code>.applymap()</code> to apply a self-defined function to each cell</a></span></li></ul></li><li><span><a href="#Filling-missing-values" data-toc-modified-id="Filling-missing-values-7">Filling missing values</a></span><ul class="toc-item"><li><span><a href="#13.-Fill-all-missing-values-with-'neg'-(indicating-that-the-missing-value-was-due-to-a-negative-original-value)" data-toc-modified-id="13.-Fill-all-missing-values-with-'neg'-(indicating-that-the-missing-value-was-due-to-a-negative-original-value)-7.1">13. Fill all missing values with 'neg' (indicating that the missing value was due to a negative original value)</a></span></li><li><span><a href="#14.-We-could-do-that-also-for-one-column-only." data-toc-modified-id="14.-We-could-do-that-also-for-one-column-only.-7.2">14. We could do that also for one column only.</a></span></li><li><span><a href="#15.-In-other-contexts,-it-might-be-useful-to-fill-with-other-values." data-toc-modified-id="15.-In-other-contexts,-it-might-be-useful-to-fill-with-other-values.-7.3">15. In other contexts, it might be useful to fill with other values.</a></span></li><li><span><a href="#16.-Forward-filling-propagates-values-from-rows-above" data-toc-modified-id="16.-Forward-filling-propagates-values-from-rows-above-7.4">16. Forward filling propagates values from rows above</a></span></li><li><span><a href="#17.-Backward-filling-propagates-values-from-rows-below" data-toc-modified-id="17.-Backward-filling-propagates-values-from-rows-below-7.5">17. Backward filling propagates values from rows below</a></span></li></ul></li><li><span><a href="#Counting-Occurrances-of-Unique-Values-With-.value_counts()" data-toc-modified-id="Counting-Occurrances-of-Unique-Values-With-.value_counts()-8">Counting Occurrances of Unique Values With <code>.value_counts()</code></a></span><ul class="toc-item"><li><span><a href="#18.-Create-a-random-vector-of-50-numbers-ranging-from-0-to-6-with-numpy" data-toc-modified-id="18.-Create-a-random-vector-of-50-numbers-ranging-from-0-to-6-with-numpy-8.1">18. Create a random vector of 50 numbers ranging from 0 to 6 with <code>numpy</code></a></span></li><li><span><a href="#19.-Convert-the-vector-to-a-series-and-count-the-occurrences-of-each-number" data-toc-modified-id="19.-Convert-the-vector-to-a-series-and-count-the-occurrences-of-each-number-8.2">19. Convert the vector to a series and count the occurrences of each number</a></span></li></ul></li><li><span><a href="#Independent-Practice:-Sales-Data" data-toc-modified-id="Independent-Practice:-Sales-Data-9">Independent Practice: Sales Data</a></span></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-10">Conclusion</a></span></li><li><span><a href="#Additional-resources" data-toc-modified-id="Additional-resources-11">Additional resources</a></span></li></ul></div>

## Common Data Cleaning Strategies

---

- Remove missing values
- Remove incorrect values
- Update incorrect values
  - Removing invalid characters
  - Truncating part of a value
  - Adding an extra numeral or string-based data
- Impute missing or invalid data
  - Calculating the mean/median/mode of a column, sometimes within group subsets
  - Implementing model-based imputation (K-Nearest Neighbors etc.)
- Backward fill or forward fill

## Measures of Data Quality

---

 - What is the relative value of the data column?
 - Is the data encoded properly?
 - Is the data consistently encoded? 
 - Does it represent the information it contains appropriately?

##  `pandas` Tools for Data Cleaning

---

We're starting to get more comfortable with using `pandas` for manipulating and examining data. Now, let's add a couple more tools to our toolbox.

The main data types in `pandas` objects are:
- **`float`**: Precision-specific math operations
- **`int`**: Operations with whole numbers
- **`bool`**: Control flow conditions
- **`datetime64`**: Resampling, slicing/selection, frequency back/front filling on a date range
- **`timedelta`**: Date comparisons
- **`category`**: A more powerful set type; can capture for example days as a category with ordinal (ordering) information
- **`object`**: All data types can be represented as an object, but math and date operations will not be possible; limited control flow possibilities are available unless you are comparing strings

**It is always important to evaluate the data types of columns to ensure that the information they contain is properly represented.**


We will be using these tools extensively in this lesson:

#### The `.map()` function

This built-in function can be used to apply a function to a pandas series or single dataframe colum.

#### The `.apply()` function

This function **can be used to apply a function along every row or column** of a dataframe, what is returned depends on if the function aggregates or not.

#### The `.applymap()` function

This function can be used to apply a function **to every cell of a dataframe**.

#### The `.fillna()` function

This built-in function allows to specify methods for filling missing data.

#### The `.value_counts()` function

The `.value_counts()` function can be applied to `pandas` series objects and returns a new series containing the counts of the data's unique values. This series will be formatted in descending order by default, so the first element is the most frequently occurring value.

***Note: `.value_counts()` excludes the counts of null values in the column!***

## Inspecting Data Types

---

```Python
import pandas as pd
import numpy as np
```

### 1. Create a small DataFrame with different data types

```Python
test_data = dict( 
    A = np.random.rand(3),
    B = 1,
    C = 'foo',
    D = pd.Timestamp('20010102'),
    E = pd.Series([1.0]*3).astype('float32'),
    F = False,
    G = pd.Series([1]*3,dtype='int8')
)
```

SyntaxError: invalid syntax (<ipython-input-1-5f396873a541>, line 1)

```Python
# Key E
pd.Series([1.0]*3).astype('float32')
```

```Python
# Key G
pd.Series([1]*3,dtype='int8')
```

```Python
# Whole dict
test_data
```

```Python
# Create a dataframe from the dictionary
df=pd.DataFrame(test_data)
```

```Python
df.head()
```

### 2. Examine the data types of the columns

```Python
df.info()
#df.dtypes
```

### 3. Use the `.get_dtype_counts()` function to determine how many columns there are of each type

```Python
df.get_dtype_counts()
#df.dtypes.value_counts()
```

```Python
# creating series of type int using arange
ser1 = pd.Series(np.arange(5).astype('int')) # notice astype() here
ser1
```

```Python
# creating series of type float using arange
ser2 = pd.Series(np.arange(5).astype('float32')) #try using list insted of arange()
ser2
```

```Python
# let's check the type of series
type(ser1), type(ser2)
```

```Python
# We can convert ser2 which is float to int "ser3" here
ser3=ser2.astype('int')
ser3
```

```Python
ser3.dtype
```

### 4. Create a Series object with integers 1-5 and float 6.0. 

- What data type is the Series?
- What if instead of a float you inserted a string `'6'`?
- Can you convert the series to int format?

```Python
#What data type is the Series?
a=[1,2,3,4,5,6.0]
pd.Series(a)
```

```Python
# What if instead of a float you inserted a string '6'?
a=[1,2,3,4,5,'6']
pd.Series(a)
```

```Python
# Can you convert the series to int format?
pd.Series(a).astype('int')
```

Notice the difference in **dtype**!!

What if we have some string instead of 6. For example 's'

```Python
#pd.Series([1,2,'s']).astype(int) # try this
```

### 5. Create a Series with data `[1, 2, 3, 6., 'foo']`. What data type is the Series?

In [1]:
#Do it yourself!

### *Without* running this code with a Python interpreter, what would you expect to be the common `dtype`?

    [1, 3, 9, .33, False, '03-20-1978', np.arange(22)]

In [2]:
# think about it!

## Applying Functions to DataFrames and Series

* `df.map()` can be used to apply a function to a pandas series or single dataframe colum.
* `df.apply()` can be used to apply a function along every row or column of a dataframe, what is returned depends on if the function aggregates or not.
* `df.applymap()` can be used to apply a function to every cell of a dataframe.

### 6. Create another small DataFrame

```Python
# Create some more test data.
np.random.seed(1)
df = pd.DataFrame(np.random.randn(5, 4), columns=['a', 'b', 'c', 'd'])
df
```

### Let's quickly grab the idea of `applymap()` and `apply()`

```Python
df.applymap(np.mean) # Apply a function to a Dataframe elementwise.
```

```Python
df.apply(np.mean) # Apply a function along an axis of the DataFrame. # default axis = 0
```

```Python
df.applymap(np.sum)
```

```Python
df.apply(np.sum) # default axis = 0
```

### 7. Use the `.apply()`/`.applymap()` function to find the square root of all cells

[`apply() vs mapapply() - A good link`](https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas)

In this example of `applymap()` and `apply()`, `sqrt()` id elementwise operation.

```Python
df.applymap(np.sqrt) # square is either +ve or zero, no sqrt for -ve number
```

```Python
# Square root ALL CELLS (NaN == Not a Number).
df_sqrt = df.apply(np.sqrt)
df_sqrt
```

## lambda function

```Python
# function to compute squares
def square(num):
    return num**2
square(4)
```

Let’s re-arrange the above function "square" in a single line.

```Python
def square(num):return num**2
square (4)
```

Now, let’s convert this one line function `def square(num):return num**2` into a lambda expression.<br>
Steps to re-write above function to a lambda expression
* replace `"def"` with `"lambda"` 
* delete function name `"square"` 
* remove `"()"` around num
* delete `"return"`

The modified code will be your lambda expression!<br>
Let’s try! We will use lambda expressions a lot in our pandas library.

```Python
lambda num : num*2
# hold-on, we will use this expression in map and filter to understand in details
```

### let's try lambda with `map()`

```Python
# computing squares using for loop
my_list = [1,2,3,4,5]
num_sq = []
for num in my_list:
    num_sq.append(num**2)
print (num_sq)
```

```Python
# so easy to use map with lambda!
result = map(square, my_list)
result
```

```Python
list(result)
```

```Python
#above two cells in a single line using lambda expression -- a throw away function
list(map(lambda num:num**2, my_list))
```

### 8. Use `.apply()` to find the mean of the columns

```Python
def mean_(val):
    return val.mean()
```

```Python
df.apply(mean_)
```

```Python
df.a.mean(), df.b.mean()
```

```Python
df.apply(lambda x: x.mean())
```

### 9. Use `.apply()` to find the mean of the rows

```Python
df.apply(lambda x: x.mean(), axis = 1)
```

### Good to know little more!

```Python
#Using iloc for any selected row
df.iloc[0].mean()
```

```Python
# another simpler way, we can add a new column
df['mean_rows'] = df.mean(axis=1)
df.head()
```

```Python
df.drop('mean_rows', axis = 1, inplace = True)
df
```

### 10. Use `.apply()` to add two columns

```Python
df.apply(lambda x: x[0]+x[1], axis=1)
```

```Python
#Simple and handy!
df['a+b'] = df.a + df.b
df.head()
```

### 11. Use `.applymap()` to round the value in each cell

```Python
df.applymap(lambda x: round(x,2))
```

### 12. Use `.applymap()` to apply a self-defined function to each cell

```Python
def add_10(val):
    return val+10
df.applymap(add_10)
```

**Let's use lambda function instead**.

```Python
df.applymap(lambda x: x+10)
```

## Filling missing values

---

When we took the square root of all the elements in df, some values where not mapped to another number because they were negative. One could use `.applymap()` in some way to fill these values. A more direct method uses pandas' data filling methods.

### 13. Fill all missing values with 'neg' (indicating that the missing value was due to a negative original value)

```Python
df_sqrt
```

```Python
df_sqrt.fillna(value='neg')#inplace is False by default, set True for permanent change
```

In [3]:
#df_sqrt

### 14. We could do that also for one column only. 

Note that the given dataframe was not modified before. We have to specify `inplace=True` to do so.

```Python
df_sqrt.fillna({'b':'neg'},inplace=True) # notice inplace, this is a permanent change in col b
```

### 15. In other contexts, it might be useful to fill with other values. 

Just to show how it works,
let's fill the missing value in column `c`with the column mean.

```Python
df_sqrt.c.fillna(df_sqrt.c.mean(), inplace=True)
df_sqrt
```

### 16. Forward filling propagates values from rows above

```Python
df_sqrt.a.fillna(method='ffill',inplace=True)
df_sqrt
```

```Python
df_sqrt.d.fillna(method='ffill',inplace=False)
```

### 17. Backward filling propagates values from rows below

```Python
df_sqrt.d.fillna(method='bfill',inplace=True)
df_sqrt
```

## Counting Occurrances of Unique Values With `.value_counts()`

---

The pandas function `.value_counts()` tells us the count of unique values in a column's data. It's helpful for identifying unexpected values and the data distribution, especially when looking at group membership.  Looking at the value counts per column can give us a quick overview of values expressed in our data.

Some common use cases of `.value_counts()` include:
 - Finding strings inside mostly numeric/continuous data
 - Finding non-numeric values
 - Checking the distribution of categorical variables
 - Identifying the most and least common values

### 18. Create a random vector of 50 numbers ranging from 0 to 6 with `numpy`

```Python
data = np.random.randint(0, 7, size = 50)
data
```

### 19. Convert the vector to a series and count the occurrences of each number

```Python
s = pd.Series(data)
s.head()
```

```Python
# The counts for each number in our array
s.value_counts()
```

## Independent Practice: Sales Data

---

1. Load the `sales.csv` data set from last week's class.
- Inspect the data types.
- Imagine you've found out that all your values in column 1 are off by one. Use `.apply()` or `.map()` to add `1` to column 1 of the data set.
- Use `.apply` to add $2\cdot {\rm column}_1 + 3\cdot {\rm column}_3$
- Use a combination of `apply` and `.value_counts()` to count how many values of `2015_margin` are larger than 45.

## Conclusion 

Before this lesson we used pandas for reading in datasets, producing summary statistics and slicing on the data. In this lesson you learned how to inspect which datatypes are contained, how to transform individual cells and columns using `.map()`, `.apply()` and `.applymap()`, and how to get insight about the contained values using `.value_counts()`.

## Additional resources


- [`pandas` Documentation](http://pandas.pydata.org/pandas-docs/stable/pandas.pdf).
- [`pandas`: dtypes](http://pandas.pydata.org/pandas-docs/stable/pandas.pdf)
- [`pandas` Series: value_counts](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) 

For more advanced information on `.apply` usage, check out these links:

- ["Why Not"'s Gist Examples](https://gist.github.com/why-not/4582705)

- [Chris Albon's Map + Apply Examples](http://chrisalbon.com/python/pandas_apply_operations_to_dataframes.html)

In case, you want to learn more about dataframes.<br>
This link could be helpful: https://drive.google.com/file/d/1JKGxA5RbPL9ISkfmkBnJmbMQu7a5oiw-/view?usp=sharing